<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>

	<!-- Speech Recognition Perms -->
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to allow you to give voice commands.</string>

	<!-- Location Perms -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to provide navigation directions.</string>

	<!-- Microphone Perms -->
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to allow you to give voice commands.</string>
	
</dict>
</plist>
