<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vision Quest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FE9DDCD2F3E635100C35286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE9DDDE2F3E635300C35286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE9DDE82F3E635300C35286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
